In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('insurance.csv')
df.head()

,Id,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
0,1,39.0,male,23.2,91,Yes,0,No,southeast,1121.87
1,2,24.0,male,30.1,87,No,0,No,southeast,1131.51
2,3,NaN,male,33.3,82,Yes,0,No,southeast,1135.94
3,4,NaN,male,33.7,80,No,0,No,northwest,1136.40
4,5,NaN,male,34.1,100,No,0,No,northwest,1137.01

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1340 non-null   int64
 1   age            1335 non-null   float64
 2   gender         1340 non-null   object
 3   bmi            1340 non-null   float64
 4   bloodpressure  1340 non-null   int64
 5   diabetic       1340 non-null   object
 6   children       1340 non-null   int64
 7   smoker         1340 non-null   object
 8   region         1337 non-null   object
 9   claim          1340 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 104.8+ KB

In [5]:
pd.set_option("display.float_format", '{:.2f}'.format)

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.isna().sum()

Id               0
age              5
gender           0
bmi              0
bloodpressure    0
diabetic         0
children         0
smoker           0
region           3
claim            0
dtype: int64

In [8]:
df.shape

(1340, 10)

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.shape

(1340, 10)

In [11]:
df.dropna(inplace=True)

In [12]:
df.shape

(1332, 10)

In [13]:
df.isna().sum().sum()

np.int64(0)

In [14]:
df.describe()

           Id     age     bmi  bloodpressure  children    claim
count 1332.00 1332.00 1332.00        1332.00   1332.00  1332.00
mean   674.47   38.09   30.66          94.19      1.10 13325.25
std    384.70   11.11    6.12          11.45      1.21 12109.62
min      1.00   18.00   16.00          80.00      0.00  1121.87
25%    341.75   29.00   26.20          86.00      0.00  4760.16
50%    674.50   38.00   30.35          92.00      1.00  9412.97
75%   1007.25   47.00   34.73          99.00      2.00 16781.33
max   1340.00   60.00   53.10         140.00      5.00 63770.43

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler
import joblib

In [16]:
df.columns

Index(['Id', 'age', 'gender', 'bmi', 'bloodpressure', 'diabetic', 'children',
       'smoker', 'region', 'claim'],
      dtype='object')

In [17]:
x=df.drop('claim',axis=1)
y=df['claim']

In [18]:
x

,Id,age,gender,bmi,bloodpressure,diabetic,children,smoker,region
0,1,39.00,male,23.20,91,Yes,0,No,southeast
1,2,24.00,male,30.10,87,No,0,No,southeast
7,8,19.00,male,41.10,100,No,0,No,northwest
8,9,20.00,male,43.00,86,No,0,No,northwest
9,10,30.00,male,53.10,97,No,0,No,northwest
...,...,...,...,...,...,...,...,...,...
1335,1336,44.00,female,35.50,88,Yes,0,Yes,northwest
1336,1337,59.00,female,38.10,120,No,1,Yes,northeast
1337,1338,30.00,male,34.50,91,Yes,3,Yes,northwest
1338,1339,37.00,male,30.40,106,No,0,Yes,southeast
1339,1340,30.00,female,47.40,101,No,0,Yes,southeast

In [19]:
y

0       1121.87
1       1131.51
7       1146.80
8       1149.40
9       1163.46
         ...
1335   55135.40
1336   58571.07
1337   60021.40
1338   62592.87
1339   63770.43
Name: claim, Length: 1332, dtype: float64

In [20]:
cat_cols=["gender","diabetic","smoker","region"]
label_encoders={}
for col in cat_cols:
    le=LabelEncoder()
    x[col]=le.fit_transform(x[col])
    label_encoders[col]=le

    joblib.dump(le,f"{col}_label_encoder.pkl")

In [21]:
x

,Id,age,gender,bmi,bloodpressure,diabetic,children,smoker,region
0,1,39.00,1,23.20,91,1,0,0,2
1,2,24.00,1,30.10,87,0,0,0,2
7,8,19.00,1,41.10,100,0,0,0,1
8,9,20.00,1,43.00,86,0,0,0,1
9,10,30.00,1,53.10,97,0,0,0,1
...,...,...,...,...,...,...,...,...,...
1335,1336,44.00,0,35.50,88,1,0,1,1
1336,1337,59.00,0,38.10,120,0,1,1,0
1337,1338,30.00,1,34.50,91,1,3,1,1
1338,1339,37.00,1,30.40,106,0,0,1,2
1339,1340,30.00,0,47.40,101,0,0,1,2

In [22]:
label_encoders

{'gender': LabelEncoder(),
 'diabetic': LabelEncoder(),
 'smoker': LabelEncoder(),
 'region': LabelEncoder()}

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [24]:
num_cols=["age","bmi","bloodpressure","children"]
scaler=StandardScaler()

In [25]:
x_train[num_cols]=scaler.fit_transform(x_train[num_cols])
x_test[num_cols]=scaler.transform(x_test[num_cols])

joblib.dump(scaler,"scaler.pkl")

['scaler.pkl']

In [26]:
print(x_train.shape,y_train.shape)

(1065, 9) (1065,)

In [27]:
print(x_test.shape,y_test.shape)

(267, 9) (267,)

In [28]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV,cross_val_score
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from xgboost import XGBRegressor

In [29]:
def evaluate_model(model,x_test,y_test,y_train,x_train):
    y_pred=model.predict(x_test)
    r2=r2_score(y_test,y_pred)
    mae=mean_absolute_error(y_test,y_pred)
    rmse=np.sqrt(mean_squared_error(y_test,y_pred))
    return{"R2_Score":r2,"MAE":mae,"RMSE":rmse}

In [30]:
lr=LinearRegression()
lr.fit(x_train,y_train)
results=evaluate_model(lr,x_test,y_test,y_train,x_train)
print("Linear Regression model trained")

best_poly_model=None
best_poly_score=-np.inf

for degree in [2,3]:
    poly = PolynomialFeatures(degree=degree)
    x_train_poly = poly.fit_transform(x_train)
    x_test_poly = poly.transform(x_test)

    poly_lr=LinearRegression()
    poly_lr.fit(x_train_poly,y_train)

    score=poly_lr.score(x_test_poly,y_test)

    if score>best_poly_score:
        best_poly_score=score
        best_poly_model=(degree,poly,poly_lr)

degree,poly,poly_lr=best_poly_model
results[f"Polynomial Regression (degree={degree})"]=evaluate_model(poly_lr,x_test_poly,y_test,y_train,x_train_poly)
print(f"Polynomial Regression model (degree={degree}) trained")

rf_params={
    'n_estimators':[100,200],
    'max_depth':[None,10,20],
    'min_samples_split':[2,5],
    'min_samples_leaf':[1,2]
}

rf_grid=GridSearchCV(estimator=RandomForestRegressor(),param_grid=rf_params,cv=5,n_jobs=-1,scoring='r2')
rf_grid.fit(x_train,y_train)
best_rf_model=rf_grid.best_estimator_

results["Random Forest Regression"]=evaluate_model(best_rf_model,x_test,y_test,y_train,x_train)
print("Random Forest Regression model trained",rf_grid.best_params_)

svr=SVR()

svr_params={
    'kernel':['linear','rbf'],
    'C':[0.1,1,10],
    'epsilon':[0.1,0.2,0.5],
    'degree':[2,3]
}

svr_grid=GridSearchCV(estimator=SVR(),param_grid=svr_params,cv=5,n_jobs=-1,scoring='r2')
svr_grid.fit(x_train,y_train)

best_svr_model=svr_grid.best_estimator_

results["Support Vector Regression"]=evaluate_model(best_svr_model,x_test,y_test,y_train,x_train)
print("Support Vector Regression model trained",svr_grid.best_params_)

xgb=XGBRegressor()
xgb_params={
    'n_estimators':[100,200],
    'learning_rate':[0.01,0.1,0.2],
    'max_depth':[3,5,7],
    'subsample':[0.8,1],
    'colsample_bytree':[0.8,1]
}
xgb_grid=GridSearchCV(estimator=XGBRegressor(),param_grid=xgb_params,cv=5,n_jobs=-1,scoring='r2')
xgb_grid.fit(x_train,y_train)
best_xgb_model=xgb_grid.best_estimator_
results["XGBoost Regression"]=evaluate_model(best_xgb_model,x_test,y_test,y_train,x_train)
print("XGBoost Regression model trained",xgb_grid.best_params_)

Linear Regression model trained
Polynomial Regression model (degree=3) trained
Random Forest Regression model trained {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}
Random Forest Regression model trained {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}
Support Vector Regression model trained {'C': 10, 'degree': 2, 'epsilon': 0.1, 'kernel': 'linear'}
Support Vector Regression model trained {'C': 10, 'degree': 2, 'epsilon': 0.1, 'kernel': 'linear'}
XGBoost Regression model trained {'colsample_bytree': 1, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100, 'subsample': 0.8}
XGBoost Regression model trained {'colsample_bytree': 1, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100, 'subsample': 0.8}

In [31]:
results

{'R2_Score': 0.8842435524861002,
 'MAE': 3073.0145974179404,
 'RMSE': np.float64(4154.007738455771),
 'Polynomial Regression (degree=3)': {'R2_Score': 0.9905931416848193,
  'MAE': 800.4423034600189,
  'RMSE': np.float64(1184.1780523701757)},
 'Random Forest Regression': {'R2_Score': 0.9999489280412645,
  'MAE': 39.951439700373534,
  'RMSE': np.float64(87.25412413839203)},
 'Support Vector Regression': {'R2_Score': 0.6927909367468232,
  'MAE': 3431.2715418143525,
  'RMSE': np.float64(6767.242169298041)},
 'XGBoost Regression': {'R2_Score': 0.9998430352915958,
  'MAE': 82.65657910522003,
  'RMSE': np.float64(152.9662834529774)}}

In [33]:
results_df=pd.DataFrame(results).T.sort_values(by="R2_Score",ascending=False)
results_df

                                  R2_Score     MAE    RMSE
RMSE                               4154.01 4154.01 4154.01
MAE                                3073.01 3073.01 3073.01
Random Forest Regression              1.00   39.95   87.25
XGBoost Regression                    1.00   82.66  152.97
Polynomial Regression (degree=3)      0.99  800.44 1184.18
R2_Score                              0.88    0.88    0.88
Support Vector Regression             0.69 3431.27 6767.24

In [35]:
models={
    "Linear Regression":lr,
    "Polynomial Regression":poly_lr,
    "Random Forest":best_rf_model,
    "SVR":best_svr_model,
    "XGBoost":best_xgb_model
}

In [39]:
# select the row with the highest R2 score from results_df
top_idx = results_df['R2_Score'].idxmax()
top_row = results_df.loc[top_idx]

# map results_df row names to keys used in the `models` dict (if needed)
name_map = {
	'Random Forest Regression': 'Random Forest',
	'XGBoost Regression': 'XGBoost',
	'Polynomial Regression (degree=3)': 'Polynomial Regression',
	'Support Vector Regression': 'SVR',
	'Linear Regression': 'Linear Regression'
}
mapped_name = name_map.get(top_idx, top_idx)
top_model = models.get(mapped_name)  # may be None if no matching key

print("Top result row:", top_idx)
top_row

Top result row: RMSE

R2_Score   4154.01
MAE        4154.01
RMSE       4154.01
Name: RMSE, dtype: float64

In [41]:
top_idx

'RMSE'

In [42]:
joblib.dump(top_idx,"best_model.pkl")
print("best model selected:{top_idx}")

best model selected:{top_idx}